* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #212529;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 50px;   
}

.button {
    padding: 12px 26px;
    background-color: #FFB742;
    color:#212529;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    transition: .3s;
    border: 2px solid transparent;
}

.button:hover {
    border: 2px solid;
    color: #FFB742;
    background-color: transparent;
    cursor: pointer;
}

.items {
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 600;
}

.item {
    cursor: pointer;
    transition: .3s;
}

.item:hover {
    color: #FFB742;
}

.selected {
    color: #FFB742;
}

.mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 108px;
}

.name {
    color: #FFB742;
    text-decoration: underline;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 135px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 416px;
    height: 120px;
    background-color:#292B2E;
    border-radius: 10px;
    padding: 10px 25px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 80%;
    background-color: white;
}

.icon img {
     width: 40px;
     height: 40px;
}
.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFB742;
    font-weight: 700;
    font-size: 32px;    
}

.texts {
    font-weight: 700;

}